{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}
{%
  set classes = [
    'w3-row',
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

{# <article{{ attributes.addClass(classes) }}> #}
<div>
  {{ title_prefix }}
  {% if not page %}
    <h3 {{ title_attributes.addClass('w3-margin-left node__title') }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h3>
  {% endif %}
  {{ title_suffix }}


  {% if display_submitted %}
    <footer class="node__meta">
      {{ author_picture }}
      <div{{ author_attributes.addClass('w3-small node__submitted') }}>
        {% trans %}Submitted by: {{ author_name }} <br> on {{ date }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}

  <div id="comparisonID" {{ content_attributes.addClass('w3-container node__content block-mosaic') }}>
<div id="throbber"></div>
  <table style="width:80%; margin-right:auto; margin-left:auto; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"><tr><th style="text-align: center; color: #222222">Rute</th><th style="text-align: center; color: #222222">Skydekke</th><th style="text-align: center; color: #222222">Dato - Tid</th><th style="text-align: center; color: #222222">Kompositter</th></tr><tr>
<th rowspan="2"><select class="drop-selection" id="tileSelect" name="tile">
<option value="None" selected="selected">Ingen</option>
 {% for ind, tile in tiles %}
 <option value={{ tile }}>{{ tile }}</option>
 {% endfor %}
</select>

<th rowspan="2"><select class="drop-selection" id="cloudSelect" name="cloud">
<option value="None" selected="selected">Skydekke %</option>
 <option value=0.1 ><10%</option>
 <option value=0.2 ><20%</option>
 <option value=0.3 ><30%</option>
 <option value=0.4 ><40%</option>
 <option value=0.5 ><50%</option>
 <option value=0.6 ><60%</option>
 <option value=0.7 ><70%</option>
 <option value=0.8 ><80%</option>
 <option value=0.1 ><10%</option>
</select>
</th><th><span style="display:inline-block; width: 1.5em;"></span><select class="drop-selection" id="productOne" name="pr1">
<option value=None selected="selected">YYYY/MM/DD - THHMMSS</option>
</select>
</th><th><select class="drop-selection" id="layer1Id" name="layer1">
<option value=true_color_vegetation selected="selected">True Color Vegetation</option>
<option value=false_color_vegetation>False Color Vegetation</option>
<option value=false_color_glacier>False Color Glacier</option>
</select>
</th></tr><tr><th><span style="display:inline-block; width: 1.5em;"></span><select class="drop-selection" id="productTwo" name="pr2">
<option value=None selected="selected">YYYY/MM/DD - THHMMSS</option>
</select>
</th><th><select class="drop-selection" id="layer2Id" name="layer2">
<option  value=true_color_vegetation selected="selected">True Color Vegetation</option>
<option value=false_color_vegetation>False Color Vegetation</option>
<option value=false_color_glacier>False Color Glacier</option>
</select>
</th></tr><tr><td  style="text-align: center; font-size:15px" colspan="3"><span id="compInfo"></span></table>

      <div id="map" class="map" >
      <div id="slider"><span><strong>Produkt én</strong></span><input id="swipe" type="range" style="width: 80%; margin-bottom:10px; margin: 0px"><span><strong>Produkt to</strong></span></div>
      </div>
      <br>
      {{ helptext }}
</div>
{# </article> #}
</div>
